<!DOCTYPE html>
<html>
<body ng-app="urlshortener">
    <div class="container" ng-controller="ShortenerController">
        <h2>URL Shortener</h2>
        <form>
            <div class="form-group">
                <input type="text" ng-model="url" ng-keyup="clearState()" class="form-control" placeholder="Past a link to shorten it"/>
                <span ng-if="shortenError" class="help-block">{{shortenError}}</span>
                <div ng-if="shortenSuccess" class="well">Your shortened URL is <a href="{{shortenSuccess}}" target="_blank">{{shortenSuccess}}</a></div>
            </div>
            <button ng-click="shorten()" class="btn btn-info">Shorten</button>
        </form>
    </div>
</body>

<script src="js/lib/angular.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

<script src="js/app/app.js"></script>
<script src="js/app/ShortenerController.js"></script>
<script src="js/app/ShortenerService.js"></script>

<link rel="stylesheet" href="css/app/app.css"/>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>

</html>